@import "tailwindcss";

@layer base {
  @media print {
    body * {
      visibility: hidden;
    }
    #contract-content, #contract-content * {
      visibility: visible;
    }
    #contract-content {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      margin: 0;
      padding: 0;
      box-shadow: none;
    }
  }
}
